body {

  background-color: white;

}

#middle {
  box-shadow: 0px 20px 50px #000000;
  background-color: #c3c8cd;
  font-family: 'Economica', sans-serif;

}

#footer {

  font-family: 'Arial', sans-serif;
  font-size: 100%;
  color: white;

}

#header {

  font-family: 'Arial', sans-serif;
  font-size: 100%;
  color: white;

}
